.first { background-color: green;
		height: 50px;
		color: white;

}

.second { background-color: red;
			height: 50px;
			color: white;

}

.nexting1{ background-color: black;
			height: 30px;
			color: white;
			margin-top:  20px;

}

.nexting2{ background-color: gray;
			height: 30px;
			color: white;
			margin-top:  20px;

}

